In [1]:
#importing all libraries we will use
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import ssl
import re
import json # library to handle JSON files
#!conda install -c conda-forge geotext --yes
from geotext import GeoText

#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
geolocator = Nominatim(user_agent="uni_expl")

from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=3)

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes 
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [2]:
df=pd.read_csv('UNI_data_geo.csv')

,University,rank,Country,Size,Latitude,Longitude
0,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),1,United States,M,42.358396,-71.095678
1,STANFORD UNIVERSITY,2,United States,L,37.431314,-122.169365
2,HARVARD UNIVERSITY,3,United States,L,42.367820,-71.126667
3,CALIFORNIA INSTITUTE OF TECHNOLOGY (CALTECH),4,United States,S,34.137102,-118.125275
4,UNIVERSITY OF OXFORD,5,United Kingdom,L,51.753454,-1.254010
5,UNIVERSITY OF CAMBRIDGE,6,United Kingdom,L,52.176390,0.143089
6,ETH ZURICH (SWISS FEDERAL INSTITUTE OF TECHNOL...,7,Switzerland,L,47.376453,8.547709
7,IMPERIAL COLLEGE LONDON,8,United Kingdom,L,51.498871,-0.175608
8,UNIVERSITY OF CHICAGO,9,United States,L,41.784687,-87.600749
9,UCL (UNIVERSITY COLLEGE LONDON),10,United Kingdom,XL,51.523161,-0.128204
10,NATIONAL UNIVERSITY OF SINGAPORE (NUS),11,Singapore,XL,1.296202,103.776899
11,NANYANG TECHNOLOGICAL UNIVERSITY (NTU),12,Singapore,L,1.348410,103.682980
12,PRINCETON UNIVERSITY,13,United States,M,40.348293,-74.663083
13,CORNELL UNIVERSITY,14,United States,L,42.450551,-76.478351
14,YALE UNIVERSITY,15,United States,L,41.257131,-72.989670
15,COLUMBIA UNIVERSITY,16,United States,L,40.807177,-73.962528
16,TSINGHUA UNIVERSITY,17,China,XL,40.002290,116.320989
17,UNIVERSITY OF EDINBURGH,18,United Kingdom,L,55.944128,-3.188406
18,UNIVERSITY OF PENNSYLVANIA,19,United States,L,39.949234,-75.191990
19,UNIVERSITY OF MICHIGAN,20,United States,XL,42.294214,-83.710039
20,JOHNS HOPKINS UNIVERSITY,21,United States,L,39.296439,-76.592394
21,ÉCOLE POLYTECHNIQUE FÉDÉRALE DE LAUSANNE (EPFL),22,Switzerland,M,46.518659,6.566562
22,THE UNIVERSITY OF TOKYO,23,Japan,L,35.902045,139.936220
23,AUSTRALIAN NATIONAL UNIVERSITY (ANU),24,Australia,L,-35.281213,149.116653
24,UNIVERSITY OF HONG KONG (HKU),25,Hong Kong,L,22.282697,114.138455
25,DUKE UNIVERSITY,26,United States,L,36.000156,-78.944230
26,"UNIVERSITY OF CALIFORNIA, BERKELEY (UCB)",27,United States,XL,-15.741909,-47.902832
27,UNIVERSITY OF TORONTO,28,Canada,XL,43.663509,-79.397778
28,THE UNIVERSITY OF MANCHESTER,29,United Kingdom,XL,53.464365,-2.230384
29,PEKING UNIVERSITY,30,China,XL,39.991716,116.303984
...,...,...,...,...,...,...
170,UNIVERSITY OF BERGEN,171,Norway,M,40.866489,-74.092642
171,INDIAN INSTITUTE OF TECHNOLOGY DELHI (IITD),172=,India,M,51.077328,17.022600
172,UNIVERSITY OF ABERDEEN,172=,United Kingdom,L,57.164588,-2.101854
173,UNIVERSITY OF TWENTE,172=,Netherlands,M,52.238014,6.856676
174,SCUOLA NORMALE SUPERIORE DI PISA,175=,Italy,S,43.719669,10.400428
175,UNIVERSITÄT WIEN,175=,Austria,XL,48.213130,16.360687
176,UNIVERSITY OF OTAGO,175=,New Zealand,L,-45.864979,170.514615
177,TECNOLÓGICO DE MONTERREY (ITESM),178,Mexico,L,29.087991,-111.002959
178,ERASMUS UNIVERSITY ROTTERDAM,179,Netherlands,L,51.922870,4.487499
179,QUEEN'S UNIVERSITY OF BELFAST,180=,United Kingdom,L,54.581112,-5.936955
180,UNIVERSITÀ DI BOLOGNA (UNIBO),180=,Italy,XL,44.496133,11.350961
181,UNIVERSITY OF FLORIDA,180=,United States,XL,29.632878,-82.349013
182,DARTMOUTH COLLEGE,183,United States,M,43.704793,-72.292591
183,UNIVERSITI KEBANGSAAN MALAYSIA (UKM),184=,Malaysia,L,2.929120,101.778335
184,UNIVERSITY OF ROCHESTER,184=,United States,M,43.157697,-77.588292
185,CASE WESTERN RESERVE UNIVERSITY,186=,United States,M,41.501387,-81.600702
186,UNIVERSITÄT FREIBURG,186=,Germany,L,47.994377,7.844747
187,VRIJE UNIVERSITEIT BRUSSEL (VUB),188,Belgium,M,49.971028,16.390422
188,KING FAHD UNIVERSITY OF PETROLEUM & MINERALS (...,189,Saudi Arabia,M,26.314406,50.140128
189,UNIVERSITY OF COLORADO AT BOULDER,190,United States,XL,NaN,NaN
190,TECHNISCHE UNIVERSITÄT DRESDEN,191,Germany,XL,51.028277,13.735983
191,UNIVERSITY OF VIRGINIA,192,United States,L,38.041058,-78.505500
192,UNIVERSITAT AUTÓNOMA DE BARCELONA,193=,Spain,XL,41.500595,2.106732
193,UNIVERSITY COLLEGE DUBLIN (UCD),193=,Ireland,L,53.312246,-6.233272
194,UNIVERSITY OF READING,195=,United Kingdom,L,51.449999,-0.961408
195,VANDERBILT UNIVERSITY,195=,United States,L,36.144222,-86.802750
196,GEORG-AUGUST-UNIVERSITÄT GÖTTINGEN,197,Germany,XL,51.542041,9.936626
197,KEIO UNIVERSITY,198,Japan,XL,35.552084,139.649584
198,TECHNISCHE UNIVERSITÄT WIEN,199,Austria,L,48.198926,16.369878
199,STOCKHOLM UNIVERSITY,200=,Sweden,L,59.363334,18.058794